@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-main-black: #3e3e3e;
    --color-orange-main: #fe9519;
}

.assignment_title_div{
    width: 620px;
    display: flex;          /*다른 2개의 태그를 자유롭게 움직이기 위해*/
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;         /*가운데 정렬을 해주는 속성 0 : 가운데 정렬 auto : 좌우 여백을 자동으로 맞춰줌*/
    padding-top: 20px;
}

.assignment_title{
    display: flex;
    font-family: "Gmarket Sans";
    font-weight: normal;
    margin-left: 10px;
}

.book_btn{
    display: flex;
    width: 35px;
    height: 35px;

}

.assignment_box{
    display: flex;
    flex-direction: column;
    border: 1px solid #d9d9d9;      /*d9d9d9 : 회식*/
    width: 560px;                   /*좌우 각각 60을 620에서 빼서 560으로 줌*/
    height: auto;
    border-radius: 8px;
    padding: 30px;                  /*좌우 여백*/
    margin: 0 auto;
    margin-top: 10px;              /*div와 div 사이가 margin*/
}

.assignment_txt_div{
    display: block;
    width: 560px;
    height: auto;
}

.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;     /*line에서 양끝으로 배치할 수 있도록*/
    margin-left: 20px;
    margin-right: 20px;
}

.assignment_category{
    font-family: "Noto Sans KR";
    color: var(--color-main-black);
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.assignment_goal{
    font-family: "Noto Sans KR";
    color: var(--color-main-black);
    font-size: 15px;
    padding-top: 5px;
    margin: 0;
}

.assignment_deadline_date, .assignment_deadline_time{
    font-family: "Noto Sans KR";
    color: var(--color-orange-main);
    font-size: 15px;
    padding-top: 5px;
    margin: 0;
}

.assignment_sub_div{
    display: block;
    flex-direction: column;
}

.assignment_subtitle{
    font-family: "Noto Sans KR";
    color: var(--color-main-black);
    width: 410px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
}

.assignment_check_box{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-orange-main);
    width: 370px;
    height: 200px;
    border-radius: 8px;
    padding: 20px;
    margin: 10px auto;
}

h5{
   font-family: "Noto Sans KR";
    margin: 0px;
}

h6{
    font-family: "Noto Sans KR";
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}

.file_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-orange-main);
    width: 410px;
    height: 25px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 7px;
}

.file_name{
    font-family: "Noto Sans KR";
    color: #ffffff;
    font-size: 12px;
    font-weight: lighter;
    padding-left: 10px;
    margin: 0px;
}

.file_add_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 410px;
    margin: 0 auto;
    margin-top: 5px;
}

.file_clip{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.file_add_title{
    font-family: "Noto Sans KR";
    font-size: 10px;
    color: var(--color-orange-main);
    font-weight: normal;
    margin: 0px;
}

/* margin: 0 auto;  ==> 가운데 정렬*/
/* justify content : space - evenly;    ==> 일자로 정렬*/